/* Global styles */
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: normal;
    margin: 0;
    padding: 0;
    color: white;
    background-color: black;
}

/* Header */
header {
    background-color: green;
    text-align: center;
}
.top-page {
    display: flex;
    align-items: center;
}
header img {
    width: 100px;
    height: 100px;
}
header nav.navMenu {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    width: 100%;
    margin: 20px;
}
header nav.navMenu li {
    display: flex;
    position: relative;
    font-size: large;
}
header nav.navMenu li a {
    color: #fff;
    text-decoration: none;
}
h3 {
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/* Main section */
main {
    padding: 20px;
}
section {
    padding: 20px;
}
section a {
    text-decoration: none;
    color: green ;
    font-weight: bold;
}
.site-structure {
    list-style: square;
}
.logos {
    width: 20px;
    height: 20px;
}

/* Footer */
footer {
    text-align: center;
    padding: 10px 0;
    margin: 0;
}
footer a {
    text-decoration: none;
    color: #fff;
}